In [3]:
#pip install pyshp

In [20]:
import shapefile
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import os

In [14]:
sf = shapefile.Reader('../cleaned_datasets/texasshp/tl_2017_48_tract.shp')

In [15]:
df_tx = gpd.read_file('../cleaned_datasets/texasshp/tl_2017_48_tract.shp')

In [17]:
df_tx.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [18]:
df_tx.head(2)

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,48,201,542301,48201542301,5423.01,Census Tract 5423.01,G5020,S,5956733,15456,+29.8204990,-095.7316493,"POLYGON ((-95.75224 29.83169, -95.75104 29.831..."
1,48,201,552601,48201552601,5526.01,Census Tract 5526.01,G5020,S,2911911,4263,+29.9629845,-095.5679180,"POLYGON ((-95.58524 29.96623, -95.58522 29.966..."

In [19]:
df_tx.shape

(5265, 13)

In [22]:
df_snap = pd.read_csv('../cleaned_datasets/ACSpovertySNAP/SNAPinfoTX.csv')

In [24]:
df_pov = pd.read_csv('../cleaned_datasets/ACSPoverty/PovertyinfoTX.csv')

In [25]:
df_snap.shape, df_pov.shape

((5265, 6), (5265, 11))

In [28]:
df_snap.head(2)

,id,geoid,households,below_poverty,hh_snap,hh_nowork
0,48001950100,"Census Tract 9501, Anderson County, Texas",1790,295,163,23.9
1,48001950401,"Census Tract 9504.01, Anderson County, Texas",95,0,0,0.0

Same number of rows!

In [26]:
df_tx.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATEFP   5265 non-null   object
 1   COUNTYFP  5265 non-null   object
 2   TRACTCE   5265 non-null   object
 3   GEOID     5265 non-null   object
 4   NAME      5265 non-null   object
 5   NAMELSAD  5265 non-null   object
 6   MTFCC     5265 non-null   object
 7   FUNCSTAT  5265 non-null   object
 8   ALAND     5265 non-null   int64
 9   AWATER    5265 non-null   int64
 10  INTPTLAT  5265 non-null   object
 11  INTPTLON  5265 non-null   object
 12  geometry  5265 non-null   geometry
dtypes: geometry(1), int64(2), object(10)
memory usage: 534.9+ KB

In [29]:
df_snap.info(), df_pov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             5265 non-null   int64
 1   geoid          5265 non-null   object
 2   households     5265 non-null   int64
 3   below_poverty  5265 non-null   int64
 4   hh_snap        5265 non-null   int64
 5   hh_nowork      5265 non-null   object
dtypes: int64(4), object(2)
memory usage: 246.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5265 entries, 0 to 5264
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5265 non-null   int64
 1   geoid        5265 non-null   object
 2   population   5265 non-null   int64
 3   below50pov   5265 non-null   int64
 4   below125pov  5265 non-null   int64
 5   below150pov  5265 non-null   int64
 6   below185pov  5265 non-null   int64
 7   below200pov  5265 non-null   int64
 8   below300pov  5265 non-null   int64
 9   below400pov  5265 non-null   int64
 10  below500pov  5265 non-null   int64
dtypes: int64(10), object(1)
memory usage: 452.6+ KB

(None, None)

So in the GDB, the geoid is an object, while in the other 2, it's an int (id refers to what GEOID is on the gdb)

In [32]:
df_tx['GEOID'] = df_tx['GEOID'].astype('int64')

In [35]:
df_tx.columns = [x.lower() for x in df_tx.columns]

In [36]:
df_tx

,statefp,countyfp,tractce,geoid,name,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon,geometry
0,48,201,542301,48201542301,5423.01,Census Tract 5423.01,G5020,S,5956733,15456,+29.8204990,-095.7316493,"POLYGON ((-95.75224 29.83169, -95.75104 29.831..."
1,48,201,552601,48201552601,5526.01,Census Tract 5526.01,G5020,S,2911911,4263,+29.9629845,-095.5679180,"POLYGON ((-95.58524 29.96623, -95.58522 29.966..."
2,48,157,673800,48157673800,6738,Census Tract 6738,G5020,S,13950790,1157489,+29.5874575,-095.7125243,"POLYGON ((-95.75839 29.58353, -95.75799 29.583..."
3,48,157,674000,48157674000,6740,Census Tract 6740,G5020,S,4826110,65291,+29.5869509,-095.6224534,"POLYGON ((-95.63467 29.58952, -95.63451 29.589..."
4,48,157,674100,48157674100,6741,Census Tract 6741,G5020,S,4170610,0,+29.5791692,-095.5995891,"POLYGON ((-95.61467 29.57828, -95.61339 29.578..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,48,061,011903,48061011903,119.03,Census Tract 119.03,G5020,S,60564211,1384939,+26.0878356,-097.8251341,"POLYGON ((-97.86217 26.06111, -97.86176 26.062..."
5261,48,061,014002,48061014002,140.02,Census Tract 140.02,G5020,S,679786,0,+25.9060206,-097.5053924,"POLYGON ((-97.51102 25.90552, -97.51099 25.905..."
5262,48,061,011400,48061011400,114,Census Tract 114,G5020,S,52581792,1717406,+26.1453025,-097.5914106,"POLYGON ((-97.65860 26.17108, -97.65712 26.172..."
5263,48,061,012401,48061012401,124.01,Census Tract 124.01,G5020,S,50339581,1317355,+26.0594715,-097.5139042,"POLYGON ((-97.57663 26.07616, -97.57644 26.076..."
5264,48,061,011600,48061011600,116,Census Tract 116,G5020,S,6004991,76049,+26.1198228,-097.6283495,"POLYGON ((-97.65568 26.13176, -97.65473 26.132..."

In [41]:
df_tx = df_tx.merge(df_snap, left_on='geoid',right_on='id')

In [39]:
df_snap[df_snap['id']==48201542301] #just checking it joined where it ought to

,id,geoid,households,below_poverty,hh_snap,hh_nowork
2963,48201542301,"Census Tract 5423.01, Harris County, Texas",4081,152,181,2.5

In [44]:
df_tx = df_tx.merge(df_pov,left_on='geoid_x',right_on='id')

In [45]:
df_pov[df_pov['id']==48201542301] #''

,id,geoid,population,below50pov,below125pov,below150pov,below185pov,below200pov,below300pov,below400pov,below500pov
2963,48201542301,"Census Tract 5423.01, Harris County, Texas",14366,265,1299,1952,3181,3696,6695,9614,11731

In [49]:
df_tx.drop(columns=['id_x','id_y','geoid_y'],inplace=True)

In [51]:
df_tx['geoid']

0       Census Tract 5423.01, Harris County, Texas
1       Census Tract 5526.01, Harris County, Texas
2       Census Tract 6738, Fort Bend County, Texas
3       Census Tract 6740, Fort Bend County, Texas
4       Census Tract 6741, Fort Bend County, Texas
                           ...
5260    Census Tract 119.03, Cameron County, Texas
5261    Census Tract 140.02, Cameron County, Texas
5262       Census Tract 114, Cameron County, Texas
5263    Census Tract 124.01, Cameron County, Texas
5264       Census Tract 116, Cameron County, Texas
Name: geoid, Length: 5265, dtype: object

In [52]:
df_tx['geoid_x']

0       48201542301
1       48201552601
2       48157673800
3       48157674000
4       48157674100
           ...
5260    48061011903
5261    48061014002
5262    48061011400
5263    48061012401
5264    48061011600
Name: geoid_x, Length: 5265, dtype: int64

In [55]:
df_tx.rename(columns={'geoid':'tract_name','geoid_x':'geoid'},inplace=True)

In [56]:
df_tx

,statefp,countyfp,tractce,geoid,name,namelsad,mtfcc,funcstat,aland,awater,...,tract_name,population,below50pov,below125pov,below150pov,below185pov,below200pov,below300pov,below400pov,below500pov
0,48,201,542301,48201542301,5423.01,Census Tract 5423.01,G5020,S,5956733,15456,...,"Census Tract 5423.01, Harris County, Texas",14366,265,1299,1952,3181,3696,6695,9614,11731
1,48,201,552601,48201552601,5526.01,Census Tract 5526.01,G5020,S,2911911,4263,...,"Census Tract 5526.01, Harris County, Texas",6450,740,1640,2308,3026,3477,4736,5251,5666
2,48,157,673800,48157673800,6738,Census Tract 6738,G5020,S,13950790,1157489,...,"Census Tract 6738, Fort Bend County, Texas",9422,153,803,1131,1855,2105,2518,3982,6435
3,48,157,674000,48157674000,6740,Census Tract 6740,G5020,S,4826110,65291,...,"Census Tract 6740, Fort Bend County, Texas",8145,396,873,1365,1468,1643,2227,3681,4003
4,48,157,674100,48157674100,6741,Census Tract 6741,G5020,S,4170610,0,...,"Census Tract 6741, Fort Bend County, Texas",7669,187,636,712,1037,1064,1362,2332,3160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,48,061,011903,48061011903,119.03,Census Tract 119.03,G5020,S,60564211,1384939,...,"Census Tract 119.03, Cameron County, Texas",2662,118,1141,1206,1433,1778,2323,2427,2514
5261,48,061,014002,48061014002,140.02,Census Tract 140.02,G5020,S,679786,0,...,"Census Tract 140.02, Cameron County, Texas",2214,560,1410,1451,1690,1733,2051,2172,2172
5262,48,061,011400,48061011400,114,Census Tract 114,G5020,S,52581792,1717406,...,"Census Tract 114, Cameron County, Texas",6387,588,1586,1806,2317,2317,3982,4969,5433
5263,48,061,012401,48061012401,124.01,Census Tract 124.01,G5020,S,50339581,1317355,...,"Census Tract 124.01, Cameron County, Texas",7167,925,2599,2749,3270,3345,4735,5224,5991
5264,48,061,011600,48061011600,116,Census Tract 116,G5020,S,6004991,76049,...,"Census Tract 116, Cameron County, Texas",6048,692,2890,3299,3604,3859,5105,5570,5955

In [60]:
df_tx.to_file('../cleaned_datasets/joined_txshp/tx_shp_mod.shp',index=False)

C:\Users\Karthik\AppData\Local\Temp\ipykernel_20136\2659388502.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  df_tx.to_file('../cleaned_datasets/joined_txshp/tx_shp_mod.shp',index=False)